<div>
  <a routerLink="/modal" class="add">Add new</a>
</div>
<div class="table_div">
  <table class="table">
    <caption><h3>Existing locations</h3></caption>
    <thead>
      <tr>
        <th>Headings</th>
        <th>Address</th>
        <th>Area Size</th>
        <th>Points Locations</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody> 
        <!-- <tr *ngFor = "let item of location">
            <td>{{location}}</td>
            <td>{{location}}</td>
            <td>{{location}}</td>
            <td>{{location}}</td>
            
        </tr>         -->
        <tr *ngFor="let item of empty" id="tr">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="edit">Edit</td>
        </tr>    
    </tbody>
  </table>
</div>
<!-- <div id="map" style="width:400px;height:400px;background:yellow"></div> -->
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script> -->