<div>
  <a routerLink="/modal" class="add">Add new</a>
</div>
<div class="table_div">
  <table class="table">
    <caption><h3>Existing locations</h3></caption>
    <thead>
      <tr>
        <th>Headings</th>
        <th>Address</th>
        <th>Area Size</th>
        <th>Points Locations</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody> 
      <tr *ngFor="let item of locationService.location" id="tr">
          <td>{{item.heading}}</td>
          <td>{{item.address}}</td>
          <td>{{item.area}}m2</td>
          <td>lat={{item.points.latitude}} lng={{item.points.longitude}}</td>
          <a routerLink="/modal"><td class="edit" (click)="editLocation(item)">Edit</td></a>
      </tr>    
    </tbody>
  </table>
</div>
