<div class="modal"> 
  <div class="map">
    <agm-map #myMap [latitude]="latitude" [longitude]="longitude" [mapTypeId]="'hybrid'"
      (mapClick)="onChoseLocation($event)">          
      <agm-marker
      [latitude]="latitude"
      [longitude]="longitude"
      *ngIf="locationChosen"
      >      
      <agm-info-window>
        <strong>Area="$3.14*'radius'*'radius'"</strong>
      </agm-info-window>       
      </agm-marker> 
      <agm-circle [latitude]="latitude" [longitude]="longitude" 
        [radius]="radius"
        [fillColor]="'red'"
        [circleDraggable]="true"
        [editable]="true"       
      >
      </agm-circle>    
      <!-- <agm-polygon
        [paths] = "paths"
      >
      </agm-polygon>   -->
    </agm-map>    
  </div>
  <div class="options">
    <h3>Map selection tools</h3>
    Address   
    <input placeholder="Search..." autocorrect="off" 
      autocapitalize="off" spellcheck="off"
      type="text" #search [formControl]="searchControl"
      (change)="newAddress()"
      [(ngModel)]="address"
      class="search_box"
    >
    <button type="submit" class="confirm" id="confirm" (click)="addToTable()" disabled>Confirm selection</button>  
    <button class="reset">Reset selection</button>  
    <a routerLink=""><button class="back">Back</button></a>
  </div> 
</div>
